/* General */
html, body{
    overflow: hidden;
}
#change{
    display: none;
}
/* Start */
#background{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    user-select: none;
    transition: all 1s linear;
}
#to_main{
    position: absolute;
    margin-right: 20%;
    left: 15%;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-family: Futura, monaco, monospace;
    font-size: 9vh;
    transition: all 1s linear
}
#to_main:hover{
    font-size: 10vh;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.25s linear;
    margin-left: -1.5%;
}
/* Main */
#new_background{
    top: 0;
    right: -100%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    user-select: none;
    transition: all 1s linear;
}
#to_start{
    position: absolute;
    left: 101%;
    top:50%;
    transform: translateY(-50%);
    color: #000a11;
    font-family: "Dm Mono", monospace;
    font-size: 4vh;
    visibility: hidden;
    opacity: 0;
    transition: all 1s linear;
}
#to_start:hover{
    cursor: pointer;
} 
.container{
    position: absolute;
    left: 9%;
    right: 15%;
    top:50%;
    transform: translateY(-50%);
    font-family: "Dm Mono", monospace;
    font-weight: 500;
    font-size: 7vh;
    display: none;
    visibility: hidden;
}
.text{
    color: #00000000;
    background:
        linear-gradient(-90deg, #000a11 5px, #00000000 0) 10px 0,
        linear-gradient(#000a11 0 0) 0 0;
    background-size: calc(var(--n)*1ch) 100%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation: type calc(var(--n)*.1s) steps(var(--n)) forwards;
    animation-delay: 1.5s;
}
/* Change */
#change:checked ~ #to_main{
    left: -100%;
    opacity: 0;
    visibility: hidden;
    transition: all 1s linear;
}
#change:checked ~ #background{
    left: -100%;
    animation: move_old_bg 1s linear;
}
#change:checked ~ #new_background{
    right: 0;
    animation: move_new_bg 1s linear;
}
#change:checked ~ .container{
    animation: show_text 2s linear;
    display: unset;
    visibility: visible;
}
#change:checked ~ #to_start{
    visibility: visible;
    opacity: 100%;
    left: 1%;
    transition: all 1s linear;
}

/* Animations */
@keyframes move_old_bg{
    from{left: 0;}
    to{left: -100%;}
}
@keyframes move_new_bg{
    from{right: -100%;}
    to{right: 0;}
}
@keyframes show_text{
    0%{visibility: hidden;}
    80%{visibility: hidden;}
    100%{visibility: visible;}
}
@keyframes type{
    from {background-size:0 100%}
}

/* Change with device size */
@media (max-width: 525px){
    .container{
        font-size: 4.5vh;
    }
}
@media (max-width: 1250px){
    .container{
        right: 25%;
    }
}
@supports (-webkit-touch-callout: none) {
    .container{
        position: absolute;
        left: 109%;
        right: 0;
        top:50%;
        transform: translateY(-50%);
        font-family: "Dm Mono", monospace;
        font-weight: 500;
        font-size: 7vh;
        display: unset;
        visibility: visible;
        transition: all 1s linear;
    }
    .text{
        color: #000a11;
        background: none;
        animation: none;
    }
    #change:checked ~ .container{
        left: 9%;
        right: 15%;
        animation: none;
    }
}

/* Extra menu */
#oc_menu{
    display: none;
}
.tex_ocm{
    right: -102vw;
}

#change:checked ~ #oc_menu{
    display: unset;
}
#change:checked ~ .tex_ocm{
    right: 2%;
}
