/* some extra things */
#check_menu:not(:checked) ~ .tex_ocm{
    animation: hide_ocm 1.5s linear;
}
@keyframes hide_ocm{
    0%{
        position: fixed;
        right: 2%;
        opacity: 1;
    }
    95%{
        position: fixed;
        right: 2%;
        opacity: 1;
    }
    100%{
        position: fixed;
        right: 2%;
        opacity: 0;
    }
}
.menu ul{
    position: fixed;
}

/* site */
.picture{
    position: absolute;
    top: 17%;
    right: 15%;
    height: 25%;
    border-radius: 50px;
}
#its_me{
    height: 100%;
    border-radius: 50px;
}
#license{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s linear;
}
.picture:hover #license{
    visibility: visible;
    opacity: 1;
}
table{
    text-align: left;
    position: relative;
    list-style-type: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 3vh;
    border-spacing: 100px 8px;
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
}
table tr{
    padding: .35em;
}
table th,table td{
    padding: .625em;
}
table th{
    letter-spacing: .1em;
    padding-top: 2.5%;
    text-decoration: underline var(--main-color) 3px;
}

/* media-queries */
@media(max-width: 500px){
    body h1{
        font-size: 5vh;
    }
}
@media(max-width: 870px){
    h1{
        font-size: 7.5vh;
    }
    #its_me{
        position: absolute;
        margin-top: -7.5%;
    }
    table{
        border: 0;
    }
    table thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr{
        display: block;
        margin-bottom: .625em;
    }
    table td{
        display: block;
        font-size: .8em;
    }
}
@media(max-aspect-ratio: 7/4){
    .picture{
        position: absolute;
        top: 2.5%;
        height: 15.5%;
        left: 50%;
        transform: translateX(-50%);
    }
    #its_me{
        position: absolute;
        height: 100%;
        border-radius: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media(max-height: 650px) and (orientation: landscape){
    html, body{
        text-shadow: none;
    }
}