/* some extra things */
#check_menu:not(:checked) ~ .tex_ocm{
    animation: hide_ocm 1.5s linear;
}
@keyframes hide_ocm{
    0%{
        position: fixed;
        right: 2%;
        opacity: 1;
    }
    95%{
        position: fixed;
        right: 2%;
        opacity: 1;
    }
    100%{
        position: fixed;
        right: 2%;
        opacity: 0;
    }
}
.menu ul{
    position: fixed;
}

/* Site */
.picture{
    position: absolute;
    top: 17%;
    left: 7%;
    border-radius: 50%;
}
#its_me{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-image: url("../Pictures/its a me.gif");
    background-size: 110%;
    background-position: 0% 35%;
}
.container{
    text-align: center;
}
.container p{
    font-size: 3vh;
    margin-bottom: 3px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    text-align: justify;
}
.resume{
    position: relative;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
    bottom: 0;
}
.resume p{
    display: inline-block;
    font-weight: 500;
}
.resume p::after{
    content: "\00A0\00A0\2794";
}
.resume a{
    position: relative;
    left: -4.5%;
    text-decoration: none;
    text-shadow: none;
    color: var(--shadow-color);
    font-size: 3vh;
    font-weight: 500;
    padding: 5px;
    font-style: italic;
    border: solid 4px var(--shadow-color);
    border-radius: 15px;
}
.resume a:hover{
    border: solid 4px var(--main-color);
}

/* media-queries */
@media(max-width: 605px){
    .container p{
        font-size: 1.75vh;
        margin-left: 10%;
        margin-right: 10%;
    }
    .container .resume a{
        font-size: 2vh;
    }
}
@media(max-aspect-ratio: 7/9){
    .container .resume a{
        left: 0;
    }
    .container .resume p{
        display: block;
        text-align: center;
        margin-bottom: 3%;
    }
    .resume p::after{
        position: relative;
        content: "\00A0\21B4";
        font-size: 4vh;
        top: 6px;
        left: 2px;
    }
}
@media(max-aspect-ratio: 13/10){
    .picture{
        left: 50%;
        transform: translateX(-50%);
        top: 7%;
    }
    #its_me{
        height: 12.5vh;
        width: 12.5vh;
    }
}
@media(max-height: 650px) and (orientation: landscape){
    html, body{
        text-shadow: none;
    }
    .container .resume a{
        border: solid 2px var(--shadow-color);
    }
}

/* license */
#license{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s linear;
}
.picture:hover #license{
    visibility: visible;
    opacity: 1;
}