:root{
    --menu-color: #b57edc;
    --link-color: #644777;
    --bar-color: #000a11;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    height:auto!important;
}

/* Menu */
#check_menu{
    display: none;
}
#oc_menu{
    position: absolute;
    z-index: 3;
    width: 35px;
    height: 27px;
    right: 2%;
    top: 2%;
    cursor: pointer;
}
.tex_ocm{
    z-index: 2;
    position: absolute;
    right: 2%;
    top: 2%;
    transition: all 1s ease-in-out;
}
.tex_ocm > div{
    width: 35px;
    height: 5px;
    background-color: var(--bar-color);
    margin-bottom: 6px;
    transition: all 0.4s ease-in-out;
}
.menu_bg{
    top: -100%;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 1;
    transition-delay: 2s;
}
.menu_bg span{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--menu-color);
    top: -100%;
    transition: all 0.25s linear;
}
.menu .menu_bg span:nth-child(1){
    transition-delay: 0.5s;
}
.menu .menu_bg span:nth-child(2){
    transition-delay: 0.75s;
}
.menu .menu_bg span:nth-child(3){
    transition-delay: 1s;
}
.menu .menu_bg span:nth-child(4){
    transition-delay: 1.25s;
}
.menu ul{
    z-index: 1;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    margin-right: 15%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.45s linear;
}
.menu ul li{
    margin-bottom: 7vh;
    list-style-type: none;
}
.menu ul li a{
    font-family: "Dm Mono", monospace;
    font-weight: 300;
    text-decoration: none;
    color: var(--link-color);
    font-size: 7vh;
    text-shadow: 0px 3px #4e385d, 0px -3px #d499ff;
}
.menu ul li a:hover{
    text-shadow: 0px 3px #d499ff, 0px -3px #4e385d;
}

/* Change menu */
#check_menu:checked ~ #oc_menu{
    position: fixed;
}
#check_menu:checked ~ .tex_ocm{
    position: fixed;
}
#check_menu:checked ~ .tex_ocm div:nth-child(1){
    transform: rotate(-45deg) translate(-9px, 6px);
}
#check_menu:checked ~ .tex_ocm div:nth-child(2){
    transform: translateX(10vh);
    opacity: 0;
}
#check_menu:checked ~ .tex_ocm div:nth-child(3){
    transform: rotate(45deg) translate(-8px, -8px);
}
#check_menu:checked ~ .menu .menu_bg{
    top: 0;
    transition-delay: 0s;
}
#check_menu:checked ~ .menu .menu_bg span:nth-child(1){
    transition-delay: 0s;
    top: 0;
}
#check_menu:checked ~ .menu .menu_bg span:nth-child(2){
    transition-delay: 0.25s;
    top: 0;
}
#check_menu:checked ~ .menu .menu_bg span:nth-child(3){
    transition-delay: 0.5s;
    top: 0;
}
#check_menu:checked ~ .menu .menu_bg span:nth-child(4){
    transition-delay: 0.75s;
    top: 0;
}
#check_menu:checked ~ .menu ul{
    visibility: visible;
    opacity: 1;
    animation: show_mp 1s linear 1s backwards;
}


/* Animations */
@keyframes show_mp{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

/* media-queries */
@media (max-width: 525px){
    .menu ul li a{
        font-size: 4.5vh;
        text-shadow: 0px 2px #4e385d, 0px -2px #d499ff;
    }
    .menu ul li a:hover{
        text-shadow: 0px 2px #d499ff, 0px -2px #4e385d;
    }
}
@media(max-height: 650px) and (orientation: landscape){
    .menu ul li a{
        text-shadow: none;
    }
    .menu ul li a:hover{
        text-shadow: none;
    }
}