/* Assign animation */
.tex_ocm .bar1{
    animation: move_bar1 0.4s linear;
}
.tex_ocm .bar2{
    animation: move_bar2 0.4s linear;
}
.tex_ocm .bar3{
    animation: move_bar3 0.4s linear;
}
.menu ul{
    animation: hide_ul 0.4s linear;
}
.menu .menu_bg span{
    animation: move_blocks 0.25s linear backwards;
}
.menu .menu_bg span:nth-child(1){
    animation-delay: 0.5s;
}
.menu .menu_bg span:nth-child(2){
    animation-delay: 0.75s;
}
.menu .menu_bg span:nth-child(3){
    animation-delay: 1s;
}
.menu .menu_bg span:nth-child(4){
    animation-delay: 1.25s;
}

/* Animations */
@keyframes move_bar1{
    from{transform: rotate(-45deg) translate(-9px, 6px);}
    to{transform: none;}
}
@keyframes move_bar2{
    from{
        transform: translateX(10vh);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
@keyframes move_bar3{
    from{transform: rotate(45deg) translate(-8px, -8px);}
    to{transform: none;}
}
@keyframes hide_ul{
    from{
        visibility: visible;
        opacity: 1;
    }
    to{
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes move_blocks{
    0%{top: 100%;}
    100%{top: 0;}
}