:root{
    --bg-color: #000a11;
    --main-color: #a45ee6;
    --text-color: #dad2e2;
    --shadow-color: #caa8ec;
}

/* Body */
html, body{
    background-color: var(--bg-color);
    font-family: "Dm Mono", monospace;
    font-weight: 300;
    color: var(--text-color);
    text-shadow: -1px 1px var(--shadow-color);
    scrollbar-width: thin;
    scrollbar-color: #6d6d6d var(--bg-color);
    max-width: 100%;
    overflow-x: hidden;
    height:auto!important;
}
body::-webkit-scrollbar {
    width: 11px;
}
body::-webkit-scrollbar-track {
    background: var(--bg-color);
}
body::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 6px;
    border: 3px solid var(--bg-color);
}

/* Site */
#top_bar{
    position: absolute;
    top: 0;
    right: 0;
    height: 15%;
    width: 100%;
    border-bottom-left-radius: 100%;
    background: var(--main-color);
}
h1{
    width: 100%;
    text-align: center;
    position: relative;
    color: var(--text-color);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 21.2vh;
    font-size: 10vh;
    font-family: "Dm Mono", monospace;
    font-weight: 500;
    text-decoration: underline var(--main-color);
    text-shadow: -2px 2px var(--shadow-color);
    letter-spacing: 1vw;
    transition: all 0.2s;
    display: block;
}
.container{
    width: 100%;
    margin-top: 4.5%;
    left: 0;
}

/* media-queries */
@media(max-width: 605px){
    h1{
        font-size: 6vh;
        margin-top: 18vh;
    }
    .container{
        text-shadow: none;
    }
}
@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
    }
}